.student {
    max-width: 60%;
    display: flex;
    flex-direction: column;
}

.code-pair {
    display: flex;
}

.code-side {
    display: flex;
    flex-direction: column;
}

.code {
    white-space: pre;
}

.addition {
    color: darkgreen;
    background: lightgreen;
}

.deletion {
    text-decoration: line-through;
    color: darkred;
    background: palevioletred;
}